<div class="container">

    <form class="ui form">

        <div class="field">
          <label>Create Username</label>
          <input type="text"  placeholder="Min 3 characters">
        </div>

        <div class="field">
          <label>First Name</label>
          <input type="text"  placeholder="Ex. Anna">
        </div>

        <div class="field">
          <label>Last Name</label>
          <input type="text" placeholder="Ex. Brown">
        </div>

        <div class="field">
            <label>Email</label>
            <input type="email" placeholder="Ex. pat@example.com">
        </div>

        <!-- Tel  -->
        <div class="field">
            <div class="fields">
                <div class="five wide field">
                    <label>Choose country</label>
                    <select class="ui fluid search dropdown" >
                        <option value="+420">CZ +420</option>
                        <option value="+421">SK +421</option>
                    </select>
                </div>
              <div class="eleven wide field">
                <label>Tel</label>
                <input type="text" placeholder="Ex. 904 365 448">
              </div>
            </div>
        </div>

        <!-- Password  -->

        <div class="field">
            <label>Password</label>
            <input type="password">
        </div>

        <div class="field">
        <label>Confirm password</label>
        <input type="password">
        </div>

        <div class="field">
            <label>Leave a message</label>
            <textarea placeholder="Ex. It makes me feel..."></textarea>
        </div>


        <!-- checkbox + button  -->
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I accept the Terms &amp; Conditions</label>
          </div>
        </div>
      </form>
      
      <button class="ui button primary" color="primary">Register account</button>
</div>