<div class="container">

    <div class="field">
        <label class="label">Create Username</label>
        <div class="control">
            <input class="input" type="text" placeholder="Min 3 characters">
        </div>
    </div>

    <div class="field">
        <label class="label">First Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Ex. Anna">
        </div>
    </div>

    <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Ex. Brown">
        </div>
    </div>

    
      
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" placeholder="Ex. pat@example.com">
        </div>
    </div>
      

    <!-- Tel  -->
    <label class="label">Tel</label>
    <div class="field has-addons">
        <p class="control">
          <span class="select">
            <select>
              <option>CZ +420</option>
              <option>SK +421</option>
            </select>
          </span>
        </p>

        <p class="control is-expanded">
          <input class="input" type="tel" placeholder="Ex. 904 365 448">
        </p>

    </div>


    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password">
        </div>
    </div>

    <div class="field">
        <label class="label">Confirm password</label>
        <div class="control">
            <input class="input" type="password">
        </div>
    </div>

      
    <div class="field">
        <label class="label">Leave a message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Ex. It makes me feel..."></textarea>
        </div>
    </div>
      
    <div class="field">
        <div class="control">
            <label class="checkbox">
            <input type="checkbox">
            I accept the Terms &amp; Conditions
            </label>
        </div>
    </div>
      
    
</div>

<div class="container-btn">
    <div class="control">
        <button class="button is-link">Register account</button>
    </div>
</div>