
<mat-toolbar color="primary" class="toolBar">
  <mat-toolbar-row class="flex">
    <h1>Compare different styles</h1>
  </mat-toolbar-row>

  <mat-toolbar-row class="flex nav">
    <a mat-button routerLink="angular" routerLinkActive="active">Angular Material</a>
    <a mat-button routerLink="bulma" routerLinkActive="active">Bulma</a>
    <a mat-button routerLink="semantic" routerLinkActive="active">Semantic UI</a>
    <a mat-button routerLink="bootstrap" routerLinkActive="active">Bootstrap</a>

  </mat-toolbar-row>
  
</mat-toolbar>

<router-outlet></router-outlet>

